@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

:root {
    --main-color: black;
    --white-color: #ffffff;
    --orange-color: #DC7000;
}

body {
    background-color: var(--main-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 108px;
    padding: 0;
    margin: 0;
    color: var(--white-color);
}

.nav {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-right: 63px;
}

.ul-list {
    display: flex;
    text-align: center; 
    line-height: 34px; 
    gap: 88px;
    list-style: none;
}

.nav-link a {
    color: var(--white-color);
    text-decoration: none; 
}

#Home {
    border-bottom: 4px solid var(--orange-color);
}

#Contact {
    height: 34px;
    width: 135px; 
    background-color: var(--orange-color); 
    border-radius: 10px; 
    line-height: 34px; 
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 29px; 
    margin-left: 36px;
}