@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

:root {
    --main-color: black;
    --white-color: #ffffff;
    --orange: #DC7000;
}

body {
    background-color: var(--main-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 108px;
    padding: 0%;
    margin: 0%;
    color: var(--white-color);
}

.nav {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-right: 63px;
}

.ul {
    display: flex;
    gap: 88px;
    list-style: none;
}

.ul li a {
    color: var(--white-color);
    text-decoration: none; 
}

.Home {
    border-bottom: 4px solid var(--orange);
}

.contact {
    position: relative;
    display: inline-block;
    width: 135px; 
    height: 34px; 
    background-color: var(--orange); 
    border-radius: 10px; 
    text-align: center; 
    line-height: 34px; 
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 29px;
    width: 82px; 
    height: 45px; 
    margin-left: 36px;
}